@model IEnumerable<MyMissionSite.Models.Mission_Questions>

@{
                /**/

                ViewBag.Title = "MissionFAQ";
}

<h2>Frequently Asked Questions</h2>

<p>
    @Html.ActionLink("Ask a Question!", "CreateQuestion")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Question)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Answer)
    </td>
    <td>
        @Html.ActionLink("Answer", "EditAnswer", new { id = item.Mission_Question_ID })
    </td>
</tr>
}

</table>
